body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li#sobre {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(107, 155, 76);
}

@media screen and (max-width: 600px) {
  h1 {
    margin-left: auto;
  }
  ul li#sobre, 
  ul li {float: none;}
}

h1 {
  margin-left: 15px;
}

h1.main{
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form {
  margin-left: 15px;
}

input {
  margin-bottom: 10px;
}

#limpar, #cadastrar {
  padding: 8px 13px;
  margin-top: 10px;
  margin-right: 4px;
  background-color: rgb(107, 155, 76);
  color: white;
  border: 1px solid rgb(107, 155, 76);
  cursor: pointer;
}