<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWeb - by Ewerton Lucas</title>
    <link rel="shortcut icon" th:href="@{/public/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>

    <ul>
        <li><a class="active" href="/">Início</a></li>
        <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
        <li><a href="/listarPessoas">Listar pessoas</a></li>
        <li><a href="/public/noticias.html">Canais de notícias</a></li>
        <li><a href="/public/contato.html">Mande um e-Mail</a></li>
        <li id="sobre"><a href="/public/sobre.html">Sobre o site</a></li>
    </ul>
    
    <h1 class="main">Hidrate-se!</h1>
     
    <img 
        th:src="@{/imagens/agua.jpg}" 
        alt="Água" 
        title="Água gelada!
    ">

</body>
</html>