<!DOCTYPE html>
<html lang="pt_br">

  <!-- Head -->

  <div th:replace="~{fragments/base :: head}"></div>

  <body>

    <!-- Nav -->

    <div th:replace="~{fragments/base :: nav}"></div>

    <!-- Header -->

    <header>
        <div class="container">
            <h1>Produtos cadastrados</h1>
        </div>
    </header>

    <!-- Main -->

    <main>
    
        <div class="container table-responsive">

            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Altura</th>
                      <th scope="col">Largura</th>
                      <th scope="col">Profundidade</th>
                      <th scope="col">Volume</th>
                      <th scope="col">Peso</th>
                      <th scope="col">Preço compra</th>
                      <th scope="col">Preço venda</th>
                      <th scope="col">Data cadastro</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                    th:each="produto: ${produtos}"
                    class="line-hover text-center">
                        <th scope="row" th:text="${produto.id}"></th>
                        <td th:text="${produto.nome_produto}"></td>
                        <td th:text="${produto.marca_produto}"></td>
                        <td th:text="${produto.altura_produto}"></td>
                        <td th:text="${produto.largura_produto}"></td>
                        <td th:text="${produto.profundidade_produto}"></td>
                        <td th:text="${produto.volume_produto}"></td>
                        <td th:text="${produto.peso_produto}"></td>
                        <td th:text="${produto.preco_compra}"></td>
                        <td th:text="${produto.preco_venda}"></td>
                        <td th:text="${#temporals.format(produto.data_cadastro,'dd/MM/yyyy')}"></td>
                        <td>
                            <a class="btn text-info btn-outline-info color-hover">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn text-danger btn-outline-danger color-hover">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>

    <!-- Espaçamento -->

    <div th:replace="~{fragments/base :: spacing}"></div>

    <!-- Footer -->

    <div th:replace="~{fragments/base :: footer}"></div>

    <!-- Option 1: Script Bootstrap -->

    <div th:replace="~{fragments/base :: script}"></div>

  </body>

</html>